body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#f5f5f5;
}

/* .login-box{
  width:300px;
  margin:100px auto;
  background:white;
  padding:30px;
  border-radius:10px;
  text-align:center;
} */

button{
  padding:12px 20px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.call-btn{
display:inline-block;
margin-top:28px;
padding:15px 38px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:14px;
font-size:18px;
font-weight:600;
transition:0.3s;
box-shadow:0 8px 20px rgba(37,211,102,0.3);
}

.call-btn:hover{
transform:translateY(-5px);
background:#1ebe5d;
}
